<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.mycompany.amstest.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.mycompany.amstest.controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>com.mycompany.amstest.controller.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAsset</servlet-name>
        <servlet-class>com.mycompany.amstest.controller.AddAsset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUser</servlet-name>
        <servlet-class>com.mycompany.amstest.controller.CreateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminData</servlet-name>
        <servlet-class>com.mycompany.amstest.controller.AdminData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userData</servlet-name>
        <servlet-class>com.mycompany.amstest.controller.userData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserData</servlet-name>
        <servlet-class>com.mycompany.amstest.controller.UserData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>com.mycompany.amstest.controller.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInfo</servlet-name>
        <servlet-class>com.mycompany.amstest.controller.UserInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnAsset</servlet-name>
        <servlet-class>com.mycompany.amstest.controller.ReturnAsset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DecommissionAsset</servlet-name>
        <servlet-class>com.mycompany.amstest.controller.DecommissionAsset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>com.mycompany.amstest.controller.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReactivateAsset</servlet-name>
        <servlet-class>com.mycompany.amstest.controller.ReactivateAsset</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAsset</servlet-name>
        <url-pattern>/AddAsset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUser</servlet-name>
        <url-pattern>/CreateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminData</servlet-name>
        <url-pattern>/AdminData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userData</servlet-name>
        <url-pattern>/userData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserData</servlet-name>
        <url-pattern>/UserData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInfo</servlet-name>
        <url-pattern>/UserInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnAsset</servlet-name>
        <url-pattern>/ReturnAsset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DecommissionAsset</servlet-name>
        <url-pattern>/DecommissionAsset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReactivateAsset</servlet-name>
        <url-pattern>/ReactivateAsset</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
